.todo-list, .completed {
   box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
   background-image: linear-gradient(pink, skyblue);
   padding: 20px 70px;
}

.completed {
   background-image: linear-gradient(skyblue, lightgreen);
}

.alert {
   text-align:"left";         
   padding-left:"60px";
   cursor: pointer;
}

.alert:hover {
   background: #FFFF00;
   color : #ff0000;
}